html {
    width: 380px;
    height: 600px;
}

body {
    padding: 0;
    margin: 0;
    width: 380px;
    height: 600px;
    background: #c2ec50;
}

#app {
    .clear {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
    }

    .address-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .address {

            cursor: pointer;
        }
    }

}
