<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuarkchainYeah</title>

    <link rel="stylesheet" href="./app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
<div id="app">

    <v-app>

    <!--register-->
    <!--<div class="password-wrap" v-if="passwordLocked">
        <h1>
            Password: <input type="password" v-model="inputPassword">
        </h1>
        <button class="submitPwd" @click="submitPwd">UnLock</button>
    </div>-->

    <!--login-->
    <div class="password-wrap" v-if="passwordLocked">
        <h1>
        Password: <input type="password" v-model="inputPassword">
        </h1>
        <button class="submitPwd" @click="submitPwd">UnLock</button>

        <button @click="clear">CLEAR</button>
    </div>



    <div class="accounts-wrap" v-if="!passwordLocked">
        <h1>{{message}}</h1>
        <label for="pk">privatekey
            <input type="password" id="pk" v-model="inputPrivatekey">
        </label>
        <button @click="enter">enter</button>
        <button @click="lock">Lock</button>

        <h3 class="address-wrap"
            v-if="accounts && accounts.length"
            v-for="account,idx in accounts"
        >
            <div class="address"
                 @dblclick="changeAccount(idx)"
            >{{ account }}</div>
            <div class="selectedFlag"
                 v-if="idx === selectedAccountIdx"
            >✅
            </div>
        </h3>

        <button class="clear" @click="clear">CLEAR</button>

    </div>

    </v-app>

</div>

<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.1.14/dist/vuetify.min.js"></script>

<script src="./app2.js"></script>

</body>
</html>
