<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuarkchainYeah</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="./app.css">
</head>

<body>
<div id="app">

    <!--register-->
    <!--<div class="password-wrap" v-if="passwordLocked">
        <h1>
            Password: <input type="password" v-model="inputPassword">
        </h1>
        <button class="submitPwd" @click="submitPwd">UnLock</button>
    </div>-->

    <!--login-->
    <div class="password-wrap" v-if="passwordLocked">
        <h1>
        Password: <input type="password" v-model="inputPassword">
        </h1>
        <button class="submitPwd" @click="submitPwd">UnLock</button>

        <button @click="clear">CLEAR</button>
    </div>



    <div class="accounts-wrap" v-if="!passwordLocked">
        <h1>{{message}}</h1>
        <label for="pk">privatekey
            <input type="password" id="pk" v-model="inputPrivatekey">
        </label>
        <button @click="enter">enter</button>
        <button @click="lock">Lock</button>
        <button @click="deliver">deliver</button>

        <h3 class="address-wrap"
            v-if="accounts && accounts.length"
            v-for="account,idx in accounts"
        >
            <div class="address"
                 @dblclick="changeAccount(idx)"
            >{{ account }}</div>
            <div class="selectedFlag"
                 v-if="idx === selectedAccountIdx"
            >✅
            </div>
        </h3>

        <button class="clear" @click="clear">CLEAR</button>

    </div>

</div>

<script src="./app2.js"></script>

</body>
</html>
