<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuarkchainYeah</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/web3@0.20.7/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quarkchain-web3@2.0.0/dist/quarkchain-web3.js"></script>-->
    <link rel="stylesheet" href="./app.css">
</head>

<body>

    <div id="app">
        <h1>{{message}}</h1>
        <label for="pk">privatekey
            <input type="password" id="pk" v-model="inputPrivatekey">
        </label>
        <button @click="enter">enter</button>
        <button @click="deliver">deliver</button>

        <h3 class="address-wrap"
            v-if="accounts && accounts.length"
            v-for="account,idx in accounts"
        >
            <div class="address"
                  @dblclick="changeAccount(idx)"
            >{{ account }}</div>
            <div class ="selectedFlag"
                 v-if = "idx === selectedAccountIdx"
            >✅</div>
        </h3>

        <button class="clear" @click="clear">CLEAR</button>

    </div>

    <script src="./app2.js"></script>

</body>
</html>
